.wrapper {
  margin-top: 40vh;
  margin-left: 40vw;
}

.rotate {
  rotate: 20deg;
  animation: rotation 1.2s ease-in-out;
}

@keyframes rotation {
  from {
    -webkit-transform-origin: bottom left;
    -webkit-transform: rotate(110deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
