.rotate {
  margin-top: 20vh;
  margin-left: 45vw;
  animation: rotation 1s linear;
}

.logo {
  margin-top: 3vh;
  margin-left: 35vw;
  /* animation: slideOut 1.5s linear; */
}

@keyframes rotation {
  from {
    -webkit-transform-origin: bottom;
    -webkit-transform: rotate(90deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    /* -webkit-transform: translate(-200%, -120%); */
  }
}

@keyframes slideOut {
  from {
    -webkit-transform-origin: bottom;
    -webkit-transform: translateX(0%);
  }
  to {
    -webkit-transform: translate(-120%, -240%);
  }
}
