.title2 {
  color: #e7742d;
  font-size: 70px;
  margin-top: 5vh;
}

.title3 {
  color: #e7742d;
  font-size: 40px;
}

.subtitle {
  color: #3965a1;
  font-size: 40px;
  margin-bottom: 30px;
  margin-left: 65px;
  margin-right: 65px;
  font-family: 'Montserrat', 'sans-serif';
}

.subtitle2 {
  color: #3965a1;
  font-size: 25px;
  margin-bottom: 30px;
}

.trouvez {
  background-color: #3965a1;
  color: white;
  font-size: 25px;
}
.sectionImgText {
  display: flex;
  margin: 5vw;
  height: 60vh;
}
.gamme {
  background-color: #e2f2f2;
  width: 40vw;
  translate: -5% 5%;

  padding: 50px 50px 50px 50px;
  margin-top: 5vh;
}

.imgDiv {
  position: relative;
  z-index: 1;
}
.inclinaison {
  box-shadow: 20px 20px 10px #d4d0d0;
  width: 40vw;
  margin-left: 10vw;
  z-index: 10;
}
