.div {
  background: center / cover url('./contactus.jpg');
  padding-top: 160px;
  min-height: 70vh;
}

.col {
  text-align: center;
}

.title1 {
  color: white;
  font-size: 2.9vw;
  margin-bottom: 15px;
  width: 30vw;
}

.title3 {
  color: white;
  font-size: 1.3vw;
  font-weight: lighter;
  margin: 0;
}

.text {
  color: white;
  font-size: 1.3vw;
  font-weight: lighter;
}

.input {
  margin-top: 20px;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0px;
  color: white;
}

.input::placeholder {
  color: white;
}

.input:focus {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.input:hover {
  border: 1px solid white;
}

.inputButton {
  margin-top: 20px;
  border: none;
}

.form-check {
  padding-left: 0rem !important;
}

.inputButtonClick {
  width: 100%;
  background-color: white;
  color: black;
  border: none;
  border-radius: 0px;
}

.inputButtonClick:hover {
  opacity: 0.6;
  background-color: white;
  color: black;
}
