.img_about {
  margin-top: 20vh;
  width: 35%;
  width: 85%;
  box-shadow: 10px 10px 0px lightblue;
}

.text {
  margin-left: 2rem;
  margin-right: 7rem;
  margin-top: 15vh;
}

.title_about {
  text-align: center !important;
  color: #3965a1;
  font-size: 40px;
  margin-top: 70px;
  margin-bottom: 40px;
}

.justify {
  font-size: 20px;
}

@media screen and (max-width: 1500px) {
  .img_about {
    margin-top: 15vh;
  }
  .text {
    margin-top: 3vh;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 870px) {
  .img_about {
    margin-top: 5vh;
  }
  .text {
    margin-top: 3vh;
    margin-left: 0;
    margin-right: 0;
  }
}
