.img_about {
  margin: auto;
  width: 85%;
  box-shadow: 15px 15px 0px lightblue;
}

.text {
  /* margin-left:10px;
  margin-right: 10px; */
}

.title_about {
  text-align: center !important;
  color: #3965a1;
  font-size: 40px;
  margin-top: 20px;
}

.justify {
  font-size: 20px;
  margin-top: 200px;
  margin-bottom: 100px;
  text-align: center;
}
