.img_about {
  margin-top: 30px;

  width: 80%;
  /* height: 20%; */
  box-shadow: 30px 30px 0px #d8d4d4;
}

p {
  margin-left: 2rem;
  margin-right: 2rem;
}

.title_about {
  text-align: center !important;
  color: #e7742d;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.center {
  text-align: center !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 20px;
  color: #3965a1;
}
