.logo {
  width: 100%;
}

.Nav {
  /* position: fixed;
  top: 0;
  z-index: 1; */

  box-shadow: 0px 3px 5px rgb(105, 105, 105, 0.25);
  width: 100%;
}

@media screen and (max-width: 767px) {
  .logo {
    width: 40%;
  }

  Nav {
    display: flex;
    flex-direction: row;
    position: fixed;
  }
}
/* 
.contact {
  color: 'inherit';
  text-decoration: 'inherit';
} */
