.logo {
  width: 100%;
}

.Nav {
  box-shadow: 0px 3px 5px rgb(105, 105, 105, 0.25);
  width: 100%;
}

@media screen and (max-width: 767px) {
  .logo {
    width: 40%;
  }

  Nav {
    display: flex;
    flex-direction: row;
    position: fixed;
  }
}
