footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  width: 100vw;
  padding: 1em;
  margin-right: -1em;
  border: none;
}

.topLine {
  height: 1px;
  background: #3965a1;
  border-radius: 20%;
}

.signature {
  margin: 2vh 0 0 0;
}

.signature a {
  color: orange;
}

.signature a:visited {
  color: lightblue;
}

.partners {
  width: 8vw;
}

.footertext {
  justify-content: center;
  color: black;
}
