.container {
  margin-top: 40px;
}

.quote1 {
  font-family: 'Catamaran', sans-serif;
  font-size: 120px;
  padding-top: 50vh;
}

.quote2 {
  font-family: 'Catamaran', sans-serif;
  font-size: 120px;
}

@media screen and (max-width: 1500px) {
  .quote1 {
    padding-top: 60vh;
  }
}

@media screen and (max-width: 1100px) {
  .quote1 {
    padding-top: 60vh;
  }
}

@media screen and (max-width: 800px) {
  .quote1 {
    padding-top: 70vh;
  }
}
