.container {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  width: 90vw;
  min-height: 200px;
}

.picture {
  margin: 10px;
  width: 30vw;
}

.title {
  font-size: 20px;
  margin: 10px;
}

.text {
  margin: 10px;
}
